.navbar .navbar-brand > img { 
    height: 40px; 
}

body,html {
    height: 100%;
}


#content {
    overflow-y: auto;
  }


#content {
    flex: 2;
    display: flex;
}
.vwrapper {
  display: flex;
  flex-direction: column;

  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;

  height: 100%;
}

table {
    margin-bottom: 0 !important;
}