<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MyTwitter tweets</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">  
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/users.css">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="index.html"><img src="image/logo.png" alt="MyLogo"> MyTwitter</a>            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNav">
                <div class="navbar-nav ml-auto">
                    <a class="nav-link" href="users.html">Users</a>
                    <a class="nav-link" href="signin.html">Sign in</a>
                    <a class="nav-link" href="signup.html">Sign up</a>
                </div>
            </div>
        </nav>

        <main class="container" role="main" >
            <form class="row my-4">
                <span class="col col-2 col-lg-1 my-1">Filter by </span>
                <input type="text" class="col form-control col-9 col-lg-5 my-1" autocomplete="off" 
                    value="" placeholder="user name filter" oninput="filterUsers(this)">
            </form>

            <div class="row">
                <div class="col-md-10">
                    <div class="container content row text-center" id="userscontainer">
                    </div>
                </div>

                <div class="col-2 col-md-2">
                    <p>
                        <b>Followees</b>
                    </p>
                    <div class="container content row text-center" id="followeescontainer">
                    </div>
                </div>
            </div>
        </main>

        <script src="js/global.js"></script>
        <script src="js/MyQuery.js"></script>
        <script src="js/users.js"></script>
    </body>
</html>
