<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/mainchat">Team Chat</a>            
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-link" *ngIf="!signedIn" routerLink="/signup">Sign up</a>
      <a class="nav-link" *ngIf="!signedIn" routerLink="/signin">Sign in</a>
      <a class="nav-link" *ngIf="signedIn" routerLink="/logout">Logout</a>
      <a class="nav-link" *ngIf="signedIn" routerLink="/mainchat">Main chat</a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
<!-- <app-messages></app-messages> -->