<main class="container" role="main">
    <div class="row">
        <form action="" class="col-md-6 offset-md-3">
            <fieldset class="group-border">
                <legend class="group-border">Sign up</legend>
                <div class="form-group row">
                    <label class="col-4 col-form-label">Username</label>
                    <div class="col-8">
                        <input class="form-control" type="text" [(ngModel)]="name" name="name" autofocus required>
                        <div class="invalid-feedback" id="username-feedback"></div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-4 col-form-label">Password</label>
                    <div class="col-8">
                        <input class="form-control" type="text" [(ngModel)]="password" name="password" required>
                        <div class="invalid-feedback" id="password-feedback"></div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-4 col-form-label">Confirm password</label>
                    <div class="col-8">
                        <input class="form-control" type="text" [(ngModel)]="confirmpassword" name="confirmpassword" required>
                        <div class="invalid-feedback" id="passwordconfirm-feedback"></div>
                    </div>
                </div>
                <div class="form-group row">
                    <select [(ngModel)]="teamid" style="width:100%" class="custom-select" name="teamid">
                        <option *ngFor="let team of teams" [ngValue]="team.id">{{team.id}}</option>
                    </select>
                </div>
                <button class="btn btn-primary float-right" (click)="signup()">Submit</button>
            </fieldset>
        </form>
    </div>
</main>